@page "/Resultat"
@using BlazorMBO.Shared;
@using BlazorMBO.Shared.Classes;
@using Newtonsoft.Json;
<h3>Resultat</h3>
<button @onclick="GetCompetition">SALUT</button>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">DateDebut</th>
            <th scope="col">DateFin</th>
            <th scope="col">Nb</th>
            <th scope="col">Nb</th>
            <th scope="col">Nb</th>
            <th scope="col">Nb</th>
            <th scope="col">Nb</th>

        </tr>
    </thead>
    <tbody>


        @{
            foreach (var item in tournois)
            {
                <tr>
                    <td>
                        @item.CompetitionId
                    </td>
                    <td>
                        @item.AreaId
                    </td>
                    <td>
                        @item.AreaName
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Gender
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.Format
                    </td>
                    <td>
                        @item.PlayerStatsCoverage
                    </td>
                </tr>
            }

        }


    </tbody>
</table>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>
@code {
    public List<Competition> tournois = new List<Competition>();
    public int mdo { get; set; } = 5;
    public string twitter { get; set; } = "Twitter";
    public string fat { get; set; } = "FAT";
    public decimal PUTE { get; set; } = 0.12M;
    public string tarace { get; set; } = "test1";
    public void GetCompetition()
    {
        HttpClient client = new HttpClient();
        var reponse = client.GetAsync("https://api.sportsdata.io/v3/csgo/scores/json/Competitions?key=8d1d7a1aec434e6eac991ba5f5ab0b83").Result;
        string Json = reponse.Content.ReadAsStringAsync().Result;
        tournois = JsonConvert.DeserializeObject<List<Competition>>(Json);

    }
    public void GetZone()
    {
        HttpClient client = new HttpClient();
        var response = client.GetAsync("https://api.sportsdata.io/v3/csgo/scores/json/Area?key=8d1d7a1aec434e6eac991ba5f5ab0b83").Result;
        string Json = response.Content.ReadAsStringAsync().Result;
        Seasons = JsonConvert.DeserializeObject<List<Saison>>(Json);
    }

    /*public void DisableTournois(Tournois untournois)
    {
        if (tournois.Contains(untournois))
        {
            tournois.Remove(untournois);
        }
    }*/
}
